<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jdk8" />
  <package id="google-chrome-x64" />
  <package id="winscp" />
  <package id="hosts.editor" />
  <package id="teraterm" />
  <package id="winmerge" />
  <package id="clcl.portable" />
  <package id="SakuraEditor" />
  <package id="Atom" />
  <package id="mysql.workbench" />
  <package id="tomcat" />
  <package id="maven" />
  <package id="slack" />
  <package id="peco" />
  <package id="curl" />
  <!--
  <package id="SourceTree" />
  <package id="tortoisegit" />
  <package id="githubforwindows" />
  <package id="tortoisesvn" />
  <package id="dropbox" />
  -->
</packages>
